body { /*Main body, what te amin page style will be, grid to keep everything consistent*/
    background-color: #ffffff;
}
    
#title {/*Id given to title of webpage allowing for easier styling*/
    font-size: 4.5em;
    text-align: center;
    color: #000000;
    margin-bottom: 10px;
}

#split{
    color: #008000;
    border-style: double;
}

#BasicInfo{
    color: #000000;
    font-size: 1.2em;
}

#about{
    color: #000000;
    font-size: 1.2em;
}

#paratitle1{
    font-size: 2.5em;
    color: #ffffff;
    padding-left: 50em;
}

ul{/*Unordered list on home page*/
    color: #ffffff;
    font-size: 1.2em;
    padding-left: 50em;
}